head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='viewport', content='width=device-width,initial-scale=1')

	title= appName
	meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
	meta(name="keywords", content="Gossip Girl")
	meta(name="description", content="Gossip Girl")
	meta(name='author', content='Sunny')

	link(href='../img/icon.png', rel='shortcut icon', type='image/x-icon')
	
	meta(property='fb:app_id', content='APP_ID')
	meta(property='og:title', content='#Gossip_Girl')
	meta(property='og:description', content='Gossip Girl')
	meta(property='og:type', content='website')
	meta(property='og:url', content='APP_URL')
	meta(property='og:image', content='APP_LOGO')
	meta(property='og:site_name', content='Gossip Girl')
	meta(property='fb:admins', content='Gossip Girl')

	link(rel='stylesheet', href='/css/animate.css')

	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300,500')
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
	link(rel='stylesheet', href='css/nav.css')
	link(rel='stylesheet', href='css/util.css')
	link(rel='stylesheet', href='css/main.css')
	link(rel='stylesheet', href='/lib/angular-ui-notification/dist/angular-ui-notification.css')