extends auth

block auth
	if message.length > 0
		.fade.in.alert.alert-block.alert-info
			p #{message}
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error
	a(href="http://www.silverpush.co")
		img.center-block(src="../img/logo_sc.png" , style="margin-top:30px;")
	.row.info-content
		.col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1.animated.fadeInLeftBig
			.panel.panel-primary.one-edge-shadow
				.panel-heading
					h3.panel-title SIGN IN
				.panel-body 
					form.form-vertical(action="/users/session", method="post")
						p.error= message
						input.form-control.pad-control#email(type='text', name="email", placeholder='Email')
						input.form-control.pad-control#password(type='password', name="password", placeholder='Password')
						.btn-group.pad-control
							button.btn.btn-info(type='submit') SIGN IN
			.pad-control.text-center
					p Need an Account ?  
						a.btn.btn-success.btn-xs(href="signup") SIGN UP
					